In [1]:
#Lambda
#A lambda function is a small anonymous function or nameless function
#they are mostly built when you want a function to be used for a short period of time
#A lambda function can take any number of arguements, but can only have one expression
#They are mostly used along with the map and filter

In [2]:
# syntax
# lambda arugements : expression

In [3]:
# example of squaring a number one argument

#normal function

def square(num):
    return num**2

square(10)

100

In [4]:
# lamda 

square  = lambda num: num**2

In [5]:
square(4)

16

In [6]:
# example 2
#adding multiple number

add = lambda x,y,z : x+y+z

In [7]:
add(10,20,30)

60

In [8]:
# WE will not use lambda function like this, we will mostly use this with map and filter functions

In [9]:
#MAP
#it will allow you to "map" a function to a iterable variable or object

In [10]:
# sytnax of map function

'''
map(function, sequences)

it applies the function to all the elements in the sequences
'''

'\nmap(function, sequences)\n\nit applies the function to all the elements in the sequences\n'

In [11]:
# example of squaring a number
def my_square(num):
    return num**2

In [12]:
square (4)

16

In [13]:
square(8)

64

In [14]:
# sequence of numbers
my_nums = [2,3,5,7,9]

In [15]:
# map
map(my_square, my_nums)

In [16]:
# to get the result we have to iterate or loop over map object
for item in map(my_square,my_nums):
    print(item)

4
9
25
49
81

In [17]:
list(map(my_square,my_nums))

[4, 9, 25, 49, 81]

In [18]:
#Filter function
#The filter function allows you to filter the elements based on the condition given in the function
#returns an filter object

In [19]:
# syntax of filter

'''
filter(function,sequences)

It applies the function to all the elements in the sequences and retains only those elements which passes the specific conditions
'''

'\nfilter(function,sequences)\n\nIt applies the function to all the elements in the sequences and retains only those elements which passes the specific conditions\n'

In [20]:
# example
# TO FILTER THE WORDS STARTING WITH 'a'

word_list = ['apple','banana','mango','airport', 'ant','cat','annoy']

In [21]:
# function
def start_with_a(word):
    if (word[0] == 'a'):
        return True
    else:
        return False

In [22]:
filter(start_with_a, word_list)

In [23]:
list(filter(start_with_a,word_list))

['apple', 'airport', 'ant', 'annoy']

In [24]:
# example to filter only the even numbers

nums = [0,1,2,3,4,5,6,7,8,9,10]

In [25]:
# function

def check_even(num):
    if (num%2 ==0):
        return True
    else:
        return False

In [26]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [27]:
# CHECKING THE DIFFERENCE BETWEEN FILTER AND MAP
list(map(check_even,nums))

[True, False, True, False, True, False, True, False, True, False, True]

In [28]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

In [29]:
#USING LAMBDA WITH MAP() AND FILTER()

In [30]:
#sequence

nums = [10,20,30,40,50]

#lambda with map() function

list(map(lambda num : num **2 , nums))

[100, 400, 900, 1600, 2500]

In [31]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [32]:
#lambda with filter() function

list(filter( lambda num : num% 2== 0, nums))

[0, 2, 4, 6, 8, 10]

In [ ]:
# TASK

# GO THROUGH 
# reduce()
#zip()
#enumerate()