In [1]:
#slicing and indexing

a  = 'hi we are learning python'

In [2]:
#index 0 
print(a[0],a[3])

h w

In [3]:
print(a[-1],a[-2],a[-5])

n o y

In [4]:
len(a)

25

In [5]:
# slicing [start:stop:step]
# starting position (default 0)
#stop - end position 
#step - step size or increment size (default value 1)

# example

b = 'hello world'

In [6]:
b[:5]

'hello'

In [7]:
b[6:]

'world'

In [8]:
b[::2]

'hlowrd'

In [9]:
#reverse the string 
b[::-1]

'dlrow olleh'

In [10]:
#LIST
# we can store different data types
# duplicate values are allowed
# indexing and slicing is possible
# mutable

In [11]:
# IN python list are written with square brackets

list_1 = [1,2,2.5,-99, "Hey", "Guys","Python", True, False]

In [12]:
print(list_1)

[1, 2, 2.5, -99, 'Hey', 'Guys', 'Python', True, False]

In [13]:
list_2 = [12,13,13,13, 13, 20, 25, 34 , 34.999, 12.883, -9.86]

In [14]:
print(list_2)

[12, 13, 13, 13, 13, 20, 25, 34, 34.999, 12.883, -9.86]

In [15]:
list_3 = ['Hey','Guys','how','was','your','day']

In [16]:
print(list_3)

['Hey', 'Guys', 'how', 'was', 'your', 'day']

In [17]:
# checking the data type of a particular variable using the function called  type()

type(list_1)

list

In [18]:
len(list_2)

11

In [19]:
# To do the indexing on the list datatype : And as previous examples same it is universal that indexing starts from 0 
# gettting my first element using indexing

list_1[0]

1

In [20]:
# get my last element

list_1[-1]

False

In [21]:
# get the 5th element

list_1[5]

'Guys'

In [22]:
# Slicing 

# to get first 3 elements

list_2[:3]

[12, 13, 13]

In [23]:
# to get first 5 elements

list_1[:5]

[1, 2, 2.5, -99, 'Hey']

In [24]:
list_3[:8]

['Hey', 'Guys', 'how', 'was', 'your', 'day']

In [25]:
# getting the last five elements

list_2[-5:]

[25, 34, 34.999, 12.883, -9.86]

In [26]:
# using the increment position(passing the value in the increment position)

list_2[::3]

[12, 13, 25, 12.883]

In [27]:
# mutable

In [28]:
list_2 = [12,13,13,13, 13, 20, 25, 34 , 34.999, 12.883, -9.86]

In [29]:
list_2[3] = 40

In [30]:
list_2

[12, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86]

In [31]:
# SOME INBUILT METHODS TO DO FEW OPERATIONS

In [32]:
# append operation appends the value at the end of the list
list_2.append("Rajesh")

In [33]:
list_2

[12, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh']

In [34]:
list_2.append("Sachin")

In [35]:
list_2

[12, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [36]:
# INSERT(pos, element)

In [37]:
list_2.insert(1,30)

In [38]:
list_2

[12, 30, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [39]:
list_2.insert(5,"Hello")

In [40]:
list_2

[12,
 30,
 13,
 13,
 40,
 'Hello',
 13,
 20,
 25,
 34,
 34.999,
 12.883,
 -9.86,
 'Rajesh',
 'Sachin']

In [41]:
# copying your list into a different variable

list_4 = list_2

In [42]:
print(list_4) # copying the list_2 using the assignment operator '='

[12, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [43]:
print(list_2) # original

[12, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [44]:
# to copy the values from one variable to another we have a function known as .copy()

list_5 = list_2.copy() # copying the list_2 using the copy() function

In [45]:
print(list_5)

[12, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [46]:
list_4[4] = 'Python'

In [47]:
print(list_4)
print(list_2)

[12, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']
[12, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [48]:
list_5[7] = 'Programming'

In [49]:
print(list_5)
print(list_2)

[12, 30, 13, 13, 40, 'Hello', 13, 'Programming', 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']
[12, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [50]:
# extend

# IN python list are written with square brackets

list_1 = [1,2,2.5,-99, "Hey", "Guys","Python", True, False]

In [51]:
list_1.extend(list_2)

In [52]:
list_1.extend(list_3)

In [53]:
print(list_1)

[1, 2, 2.5, -99, 'Hey', 'Guys', 'Python', True, False, 12, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin', 'Hey', 'Guys', 'how', 'was', 'your', 'day']

In [54]:
# remove(), count(), pop(),sort(), reverse()