In [3]:
#Sets
#In python sets are written with curly brackets

# few points about sets 1. Can store different data type 2. Duplicate values are not allowed 3. Indexing and Slicing is not possible 4. It is mutable

In [4]:
set1 = {2,3,44.5,-6.88,'programming','python',4,3,2}

In [5]:
print(set1)

{2, 3, 4, 44.5, 'python', 'programming', -6.88}

In [6]:
set2 = {1,2,3,4,4,1,2,1,1,4,3}

In [7]:
print(set2)

{1, 2, 3, 4}

In [8]:
type(set2)

set

In [9]:
# checking the length

len(set2)

4

In [10]:
# indexing and slicing in sets (it is not allowed)

set2[0:2]

TypeError: 'set' object is not subscriptable

In [11]:
# Empty Set

set3 = {}
print(set3)

{}

In [12]:
type(set3)

dict

In [13]:
# to build an empty set we have to use the inbuilt set function which is set()
set3 = set()
print(set3)

set()

In [14]:
type(set3)

set

In [15]:
set2 = {3,4,5,6,8,7}
print(set2)

{3, 4, 5, 6, 7, 8}

In [16]:
# Using inbuilt functions will add new elements in the set

# * TO add elements we use function named --> add(item)

set2.add(5)
print(set2)

{3, 4, 5, 6, 7, 8}

In [17]:
set2.add('hello')
print(set2)

{3, 4, 5, 6, 7, 8, 'hello'}

In [18]:
set2.add(5)
print(set2)

{3, 4, 5, 6, 7, 8, 'hello'}

In [19]:
# IF you want to add more than one items. I can do that using the inbuilt function called .update(list)

set2.update([22,3.562,'hi'])

In [20]:
print(set2)

{3, 4, 5, 6, 7, 8, 3.562, 'hi', 22, 'hello'}

In [21]:
# copy

set3 = set2.copy()
set3

{22, 3, 3.562, 4, 5, 6, 7, 8, 'hello', 'hi'}

In [22]:
# to remove an specified item from the set, Will use a function named .remove(item)

set2

{22, 3, 3.562, 4, 5, 6, 7, 8, 'hello', 'hi'}

In [23]:
set2.remove(3.562)

In [24]:
set2

{22, 3, 4, 5, 6, 7, 8, 'hello', 'hi'}

In [25]:
set2.remove('hi')

In [26]:
set2

{22, 3, 4, 5, 6, 7, 8, 'hello'}

In [27]:
# removing the element which is not present
set2.remove('hi')

KeyError: 'hi'

In [28]:
# Now removing the elements from a set using a function called .discard(item)

set2.discard('hello')
set2

{3, 4, 5, 6, 7, 8, 22}

In [29]:
set2.discard('hello') # if we are trying to remove the element which isn't present in the sets  using the discard function it won't throw any error message

In [30]:
# sets are unordered , so when we are using the pop() method , you will not know which item is removed

set4 = {'a',1,'b',2,'c',3,4,'d'}
set4.pop()

1

In [31]:
set4.pop()

2

In [32]:
set4.pop()

3

In [33]:
set4

{4, 'a', 'b', 'c', 'd'}

In [34]:
# clear() --> It will clear all the items inside the set and restore the data type

set4.clear()
set4

set()

In [35]:
# WORKING WITH FEW INBUILT FUNCTIONS 
# union()
#intersection()

In [36]:
set1 = {2,3,4,56,8,9,10,'python'}
set2 = {3,4,10, 23.5,44.567,'programming','python'}

In [37]:
print(set1,set2)

{2, 3, 4, 8, 9, 10, 'python', 56} {3, 4, 10, 44.567, 'python', 'programming', 23.5}

In [38]:
set3 = set1.union(set2)

In [39]:
print(set3)

{2, 3, 4, 8, 9, 10, 44.567, 'python', 'programming', 23.5, 56}

In [40]:
# working with the intersection

set4 = set1.intersection(set2)

In [41]:
print(set4)

{10, 3, 4, 'python'}

In [42]:
# Task on sets , going through few inbuilt functions
# 1) difference(), 2) symmetric_difference()

In [43]:
# MAKE A TABLE OF ALL THE INBUILT DATA TYPES  AND POINT OUT THE DIFFERENCE ONE BY ONE